<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Project</title>
    <link rel="stylesheet" href="./static/css/home.css">
</head>
<body>
    <header class="header">
        <h1>Machine Learning Project</h1>
        <nav class="nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#Project Overview">Project Overview</a></li>
                <li><a href="#solution">Solution</a></li>
                <li><a href="/predict" target="_blank">Predict Energy Consumption</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/feedback_form" target ="_blank">Feed Back Form</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home" class="section">
        <h2>Welcome to Our Machine Learning Project</h2>
        <p>Welcome to our Machine Learning Project! I'm Pravin Korekar from Maharashtra. In my final year of B-Tech in Computer Science at Sandip University, I've developed an energy consumption model using multiple linear regression for accurate energy predictions.<br>
            Resource : 
        <strong><u><a href="https://www.kaggle.com/datasets/govindaramsriram/energy-consumption-dataset-linear-regression" target = "_blank"> Dataset Resource</a></u></strong>
        </p>  
    </section>
    
    <section id="Project Overview" class="section">
        <h2>Project Overview</h2>
        <p>The objective is to forecast energy needs based on the building's characteristics. This will help in understanding energy demand patterns and optimizing energy consumption across various building types and environmental conditions. The forecast should take into account the physical attributes of the building, such as its size, design, and materials used, as well as external factors including the local climate and weather patterns. The prediction model should provide accurate and actionable insights, helping to reduce energy consumption and enhance sustainability efforts.</p>
    </section>
    
    <section id="solution" class="section">
        <h2>Our Solution</h2>
        <p>We have developed a multiple linear regression model to predict energy consumption based on various parameters. By inputting relevant parameters such as building size, design features, materials used, environmental conditions, usage patterns, and energy sources, the model can accurately forecast energy needs. This solution enables us to understand energy demand patterns and optimize energy consumption across different building types and environmental conditions</p>
    </section>
    
    <section id="contact" class="section">
        <h2>Contact Us</h2> 
        <p>Email: <a href="pravinkorekar6@gmail.com">pravinkorekar6@gmail.com</a></p> 
        <p>Phone :   87671 35153</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/your-profile" target="_blank">LinkedIn Profile</a></p>
    </section>
</body>
</html>
